# FRONTEND (Angular/Node)
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out
frontend/npm-debug.log
frontend/yarn-error.log
frontend/.angular/cache
frontend/.vscode/
frontend/.history/
frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/.launch
frontend/.settings/
frontend/*.sublime-workspace
frontend/coverage
frontend/.sass-cache/
frontend/connect.lock
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings
frontend/.DS_Store
frontend/Thumbs.db

# BACKEND (Java/Spring/Gradle)
backend/.gradle
backend/build/
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/.vscode/
backend/HELP.md

# GLOBAL
*.log
.DS_Store
Thumbs.db
*.swp
*.swo
.history/
.idea/
.vscode/
*.iml

# DOCKER (se quiser ignorar arquivos de env/local)
**/.env
docker-compose.override.yml
node_modules
