<mat-card class="quiz-card">
  <mat-card-header>
    <mat-card-title>{{ quiz?.title }}</mat-card-title>
  </mat-card-header>

  <ng-container *ngIf="quiz">
    <!-- Pergunta atual -->
    <app-question-card
      [question]="currentQuestion"
      [timer]="timers[currentQuestion.id]"
      [voteResult]="voteResults[currentQuestion.id]"
      [userVote]="userVotes[currentQuestion.id]"
      [correctAnswer]="correctAnswers[currentQuestion.id]"
      [currentIndex]="currentIndex"
      [quizFinished]="quizFinished()"
      [score]="getScore()"
      [bestScore]="getBestScore()"
      [topScores]="topScores"
      [totalQuestions]="quiz.questions.length"
      (vote)="vote(currentQuestion.id, $event)"
      (prev)="goToPrev()"
      (next)="goToNext()"
      (restart)="restartQuiz()"
    ></app-question-card>
  </ng-container>
</mat-card>
