@if (quiz) {
  <h2>{{ quiz.title }}</h2>
  @for (q of quiz.questions; track q) {
    <div>
      <p>{{ q.text }}</p>
      @for (opt of q.options; track opt; let i = $index) {
        <button
          (click)="vote(q.id, i)"
          >
          {{ opt }}
        </button>
      }
      @if (voteResults[q.id]) {
        <ul>
          @for (c of voteResults[q.id]; track c; let idx = $index) {
            <li>
              {{ q.options[idx] }}: {{ c }}
            </li>
          }
        </ul>
      }
    </div>
  }
}
